header {
    overflow: hidden;
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    z-index: 2;
}

header h1 {
    margin: 0;
    line-height: 40px;
    background-color: black;
    padding: 30px;
}

header a {
    text-decoration: none;  
    color: white;
}

#main-nav {
    background-color: lightgray;
    flex-grow: 1;
    z-index: 2;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

#main-nav ul li {
    float: left;
}

#main-nav ul li a {
    display: block;
    color: black;
    line-height: 80px;
    padding: 10px 30px;
    font-size: 2em;
    font-weight: bold;
}

li a:hover {
    background-color: darkgrey;
}

li a.active {
    background-color: lightblue;
}

.sidenav {
    position: fixed;
    top: 100px;
    left: 0px;
    bottom: 0px;
    width: 200px;
    background-color: lightgray;
    overflow-y: auto;
    z-index: 2;
}

.sidenav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidenav ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

.main {
    position: relative;
    padding: 30px 30px;
    left: 200px;
    top: 100px;
    max-width: calc(100% - 260px);
}

#home-content {
    position: relative;
    top: 100px;
    left: 0px;
    background-image: url(./images/Star_Wars_Logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 57%; /* (img-height / img-width * width) */
    /* (853 / 1280 * 100) */
}
  